<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
    <title>Hello, world!</title>
    <style>
      *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
      }
      ul{
          list-style-type: none;
      }
      li{
          display: inline;
      }
      .box{
        border-radius: 5px;
      }
      .color{
        color: black;
      }
      .info {
        text-align: center;
      }
      .tira {
        color: red;
        font-size: 200%;
      }
      .bold {
        font-weight: bold;
        padding-bottom: 15px;
      }
      nav .search input{
        width: 100%;
        height: 40px;
        border: 1px solid #ccc;
        /* border-radius: 5px; */
        padding: 0 30px;
        font-size: 14px;
        font-weight: 500;
        outline: none;
      }

    </style>
  </head>

    <body>

      <div class="d-flex justify-content-around">
        <div>
            
        </div>
        <div></div>
        <div>
            Track order | Help center
        </div>

        
    </div>

    <div class=" container justify-content-around">
        <div>
              <a href="/" style="text-decoration: none;"><li style="color: red;font-size: 50px; text-decoration: none; text-decoration:none">tira</li></a>&nbsp;&nbsp;&nbsp;&nbsp;
               
                <li class="col-md-4">
                                {% if user.is_authenticated %}
                                <li
                                  style="font-weight: 500; margin-left: 20px; color: #222; border: solid black 1px; padding: 10px; border-radius: 7px; ">
                                  <a target="_blank" class=" hov-btn3"
                                    style="text-decoration: none; color: #222;  border-radius: 15px; padding: 8px;"
                                    href="{% url 'logout_user' %}">Logout</a>
                                </li>
                                {% else %}
                                <li
                                  style="font-weight: 500; margin-left: 20px; color: #222; border: solid black 1px; padding: 10px; border-radius: 7px; ">
                                  <a class=" hov-btn3" style="text-decoration: none; border-radius: 15px; padding: 8px; color: #222;"
                                    href="{% url 'register' %}" target="_blank">Register</a> <span> / </span><a target="_blank"
                                    class=" hov-btn3" style="text-decoration: none; color: #222;  border-radius: 15px; padding: 8px;"
                                    href="{% url 'login_user' %}">Login</a>
                                </li>
                                {% endif %}
                            </li>
                            {% comment %} <li class="icon-item mx-3 d-flex align-items-center flex-column">
                                <a href="{% url "wishlist_view" %}" class="text-decoration-none text-black d-flex align-items-center flex-column">
                                    <i class="fa-regular fa-heart"></i>
                                    <p class="m-0">Wishlist</p>
                                </a>
                            </li> {% endcomment %}
                {% comment %} <li class='btn border '> <a href="{% url "login_user" %}">  Log in  </a></li> {% endcomment %}
                {% comment %} <li data-bs-toggle="modal" data-bs-target="#mymodel" class="ms-4"><a href="{% url "account" %}">Account</a></li> {% endcomment %}
                
                
            </ul>

            
           
        </div>
        <div></div>
        <div></div>
    </div>
   
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
       
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link"  aria-current="page" href="/" style="color: black;">what's new</a>
            <a class="nav-link" href="{% url "category2" 'makeup' %}" aria-current="page" style="color: black;">Makeup</a>
            <a class="nav-link" href="{% url "category2" 'skin' %}" style="color: black;">skin</a>
            <a class="nav-link" href="{% url "category2" 'Hair' %}" style="color: black;">Hair</a>
            <a class="nav-link" href="{% url "category2" 'Fragrance' %}" style="color: black;">Fragrance</a>
            <a class="nav-link" href="{% url "category2" 'Men' %}" style="color: black;">men</a>
            <a class="nav-link" href="{% url "category2" 'Bath&body' %}" style="color: black;">bath & body</a>
            <a class="nav-link" href="{% url "category2" 'Tool' %}" style="color: black;">tool & applications</a>
            <a class="nav-link" href="{% url "category2" 'Mom&baby' %}" style="color: black;">mom & baby</a>
            <a class="nav-link" href="{% url "category2" 'Mini' %}" style="color: black;">Minies</a>
            <a class="nav-link" href="{% url "category2" 'Homegrown' %}" style="color: black;">Homegrown</a>


          </div>
        </div>
      </div>
    </nav>

      {% block new %}
      
      {% endblock new %}


      <div class="container info pt-5">
        <div class="row">
            <div class="col">
                <div><h5>Be the first to hear about all things Tira</h5></div>
                <div>
                    Stay connected for exclusive offers and latest updates, delivered straight to your inbox
                </div>
                <div>
                    <input type="email" name="email" placeholder="Enter Your Email Address">
                    <button>Send</button>
                </div>
            </div>
        </div>
   </div>
   <div class="container my-5">
        <div class="row">
            <div class="col">
                <div class="tira">tira</div>
                <div>For every day, for every mood, for every you</div>
            </div>
            <div class="col">
                <div class="bold">Tira</div>
                    <div>Who We Are</div>
                    <div>For You</div>
                    <div>tira Red</div>
                    <div>Offers</div>
                    <div>Tira Tribe</div>                    
            </div>
            <div class="col">
                <div class="bold">Customer Care</div>
                    <div>Help Center</div>
                    <div>FAQs</div>              
            </div>
            <div class="col">
                <div class="bold">Categories</div>
                <div>Makeup</div>
                <div>Skin</div>
                <div>Hair</div>
                <div>Fragrance</div>
                <div>Bath & Body</div>
                <div>Men</div>
                <div>Mom & Baby</div>
                <div>Homegrown</div>
                <div>Tools & Appliances</div>
                <div>Minis</div>
                <div>Gifts</div>          
            </div>
            <div class="col">
                <div class="bold">
                    Contact Us
                </div>
                <div>
                    Call: 1-800-890-3030
                    Whatsapp: 79770 90909
                    (All days, between 8am-8pm)
                    Email: help@tirabeauty.com
                </div>
            </div>
        </div>
   </div>
   <div class="container">
    <hr>
    <div class="row py-3">
        <div class="col-md-10">
            © 2024 Tira. All Rights Reserved.
        </div>
        <div class="col-md-2 ">
            <i class="bi bi-facebook px-4"></i>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-twitter px-4"></i>
            <i class="bi bi-youtube"></i>
        </div>
       
    </div>
    <div class="row">
        <div class="col">
            <ul>
                <li>Terms & Conditions</li>
                <li>Fees & Payments</li>
                <li>Cancellation & Refund Policy</li>
                <li>Privacy Policy</li>
                <li>Shipping & Delivery Policy</li>
                <li>Rewards Policy</li>
                <li>Promotions Terms & Conditions</li>
            </ul>
        </div>
    </div>
       </div>
    </body>
</html>