{% extends "nav.html" %}

{% block new %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 d-flex align-items-center justify-content-center flex-column col-lg-6 col-xl-6 rounded">
           
                <img src="{{products.img.url}}" alt="" srcset="" class="img-fluid w-100 rounded">
            

        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-center">
                    <h2>{{products.name}}</h2>
                </div>
                <div class="card-body d-block">
                    <h5>{{products.category}}</h5>
                    <h5>{{products.price}}</h5>
                    <h5>{{products.description}}</h5>
                    <h3><a href="{% url "add_to_wishlist" products.id %}"> Add to wishlist </a></h3>

                </div>
                <div class="card-footer">
                    <a href=" {% url "add_to_cart" products.id %}"><button class="btn w-100" style="background-color: rgba(101, 148, 248, 0.103);">Add To Cart</button> </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="mt-5 text-center h1">Related Product</div>
<div class="container-fluid" style="background-color: rgba(128, 128, 128, 0.226);">
    <div class="row">
        {% for  product in related_products  %}
            <div class="col-md-4 mt-4">
                <div class="card">
                    <div class="card-header text-center h4">
                        {{product.name}}
                    </div>

                    <div class="card-body">
                        <a href="{% url "singal_product" product.id %}"> <img src="{{product.img.url}}"  class="w-100" alt="" srcset=""></a>
                        <h6>{{product.name}} </h6>
                        <h6>{{product.price}}</h6>
                        
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>
  
</div>
    



{% endblock new %}







